.buttons {
  width: 20%;
  height: 100%;
  border: 3px solid #323332;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container {
  display: flex;
  align-items: stretch;
  height: 100%;
}
