.node {
  width: 15px;
  height: 15px;
  outline: 1px solid rgb(65, 55, 55);
  display: inline-block;

}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.node-reset {
  animation-name: reset;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.5);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.25);
    background-color: rgba(192, 49, 49, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(24, 4, 56, 0.75);
  }
}
@keyframes reset {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
  }

  50% {
    background-color: rgb(255, 255, 255);
  }
  75% {
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
  }
  100% {
    transform: scale(1);
    background-color: rgb(255, 255, 255);
  }
}

.node-wall {
  background-color: rgb(1, 4, 5);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.5);
    background-color: rgb(255, 106, 106);
  }

  50% {
    transform: scale(1.25);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
.reset-shortest-path {
  animation-name: setshortestPath;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes resetshortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 255, 255);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 255, 255);
  }
}
